html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
:focus {
        outline: 0;
 }
ol, ul {
        list-style: none;
}
table {
border-collapse: separate;
border-spacing: 0;
 }
caption, th, td {
font-weight: normal;
 text-align: left;
}


 html{
font-size:62.5%;
    }
body{
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:5.5rem;
}
section{
    padding:4% 0;
}
nav{
    padding:2% 0;
    text-align:center;
    border-radius:10px;
    display:flex;
    justify-content:space-evenly;
    width:100%;
    top:0;
    z-index:999;
}
.blue{
    background-color:#5ED3EB;
}
.orange{
    background-color:#FF764E; 
}
.yellow{
    background-color:#FFCD69; 
}
nav a{
    display:inline-block;
    padding:1% 0;
    border-radius:10px;
    width:10%;
    text-align:center;
    color:#fff;
    text-decoration:none;
}
.headerImg img{
    border-radius:50%;
    width:25%;
}
.headerImg{
    padding-left:10%;
    padding-top:4%;
}
.rightText{
    padding:4%;
    line-height:2;
    bottom:20%;

}
