html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

    *{
        box-sizing:border-box;
        padding:0;
        margin:0;
        max-width:100%;
    }

    /*General Styles*/

    html{
        font-size:62.5%;
    }
    body{
        font-size:1.6rem;
        line-height:1.5;
        color:#4f4f4f; /*easier to read than black on white*/
        font-family:'Roboto Mono', monospace;
    
    }
    h1{
        font-family: 'Chelsea Market', cursive;
        font-size:5rem;
    }
    section{
        padding:4% 0;
    }
    a{
        text-decoration:none;
    }
 /*Header Section Styles*/
    nav{
        padding:3% 0;
    }
    nav a{
        display:inline-block;
        padding:0.5% 0;
        width:9%;
        border-radius:10px;
        text-align:center;
        color:#fff;
    }
    .orange{
        background-color:#FF764E;
        margin-left:10%;
    }
    .blue{
        background-color:#5ED3EB;
        margin:0 24%;
    }
    .yellow{
        background-color:#FFCD69;
        margin-right:10%;
    }
/*Top Section Styles*/
.top{
    position:relative;
}
.left img{
    border-radius:50%;
    width:70%;
}
.left, .right{
    display:inline-block;
}
.left{
    width:40%;
    text-align:center;
}
.right{
    width:45%;
    margin-left:3%;
    position:absolute;
    top:40%;
    text-align:center;
}
.right h2{
    padding-bottom:2%;
    font-family: 'Roboto Mono', monospace;
    font-size:1.8rem;
}
.right p{
    font-size:1.8rem;
    margin: 0 25%;
}

/*Mid Section Styling*/
.midtext div{
    margin:0% 5%;
    background-color:#DDB9A3;
    padding:1% 2%;
}
.midtext p{
    margin:1% 2%;
    color:white;
    font-size:1.8rem;
}
.imageblocks .firstimg{
    padding-left:35%;

}
.firstimg p{
    margin-right:65%;
    text-align:center;
    margin-top:1%;
}
.firstimg img{
    width:27%;
    margin-left:3%;
}
.secondimg img{
    width:19%;
    margin-left:35%;
}
.secondimg p{
  text-align:center; 
  margin-left:33%;
  margin-right:43%;
}



/*Background image section*/

.heroimg{
    height:50vh;
    background-image:url('assets/footer_img.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
}



/*Footer Section Styling*/

.bottomnav{
    background-color:#F9E7DC;
}

